@import "var.less";
@import "global.less";
@import "toper.less";
@import "news.less";
@import "intro.less";
@import "contact.less";
@import "footer.less";
@import "list.less";
@import "content.less";
* {
  margin: 0;
  padding: 0;
}
html body {
  font-family: "Microsoft Yahei";
}

a {
  text-decoration: none;
  color: black;
  &:hover {
    color: blue;
  }
}

@media screen and (max-width: 1120px) {
    .list,.footer,.toper,.intro,.news,.contact {
      width: 1120px;
    }
}
